<div *ngIf="showForm" class="modal" role="dialog" aria-modal="true" id="update-user-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-block text-center pb-3 border-bottom">
                <h3 class="modal-title" id="exampleModalCenterTitle02">Sửa nhân viên</h3>
            </div>
            <div class="modal-body">
                <form #employeeForm="ngForm" (ngSubmit)="updateEmployee(employeeForm)">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="name" class="h5">Họ & Tên</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    [(ngModel)]="employee.employee_name" #name="ngModel" required
                                    placeholder="Enter your full name">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                                    Name is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="region" class="h5">Địa chỉ</label>
                                <input type="text" class="form-control" id="region" name="region"
                                    [(ngModel)]="employee.employee_region" #region="ngModel" required
                                    placeholder="Enter your address">
                                <div *ngIf="region.invalid && (region.dirty || region.touched)" class="text-danger">
                                    Address is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="role" class="h5">Chức danh</label>
                                <select class="form-control" id="role" name="role" [(ngModel)]="employee.employee_role"
                                    #role="ngModel" required>
                                    <option value="leader">Trưởng nhóm</option>
                                    <option value="employee">Nhân viên</option>
                                </select>
                                <div *ngIf="role.invalid && (role.dirty || role.touched)" class="text-danger">
                                    Role is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-center justify-content-center mt-2">
                                <button type="submit" class="btn btn-primary mr-3"
                                    [disabled]="employeeForm.invalid">Save</button>
                                <button type="button" class="btn btn-primary" (click)="onBack()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>