<section class="login-content">
    <div class="container">
        <div class="row align-items-center justify-content-center height-self-center">
            <div class="col-lg-8">
                <div class="card auth-card">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center auth-content">
                            <div class="col-lg-6 bg-primary content-left">
                                <div class="p-3">
                                    <h2 class="mb-2 text-white">Quên mật khẩu</h2>
                                    <p>Nhập email của bạn để tiến hành đặt lại mật khẩu !</p>
                                    <form (ngSubmit)="forgotPassword(email)">
                                        <div class="row">
                                            <input class="col-8 loating-input form-control" type="email"
                                                [(ngModel)]="email" name="email" placeholder="Email" required>
                                            <button class="mx-2 col-3 btn btn-white" type="submit">Gửi</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 content-right">
                                <img src="../assets/images/login/01.png" class="img-fluid image-right" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>